extends bootstrapNav
include bootstrapMixins
block body-content
    div.panel.panel-primary
        div.panel-heading(data-toggle='collapse',data-target='#new-expense-body'): a(href='#new-expense-body')
            | Record a new expense
        div.panel-collapse.collapse.in#new-expense-body: div.panel-body
            p Record a new expense explanation
            div.panel-body
                form.form-inline(action='/expenses/insert_expense',method='post',role='form')
                    div.col-sm-3.input-group.input-group-sm
                        label(for='insert_expense_date') Date Paid
                        input.form-control#insert_expense_date(name='date',type='text',placeholder='yyyy-MM-dd')
                        //span.input-group-addon Date
                    div.col-sm-3.input-group.input-group-sm
                        label(for='insert_expense_event') Event Name
                        if event
                            input.form-control#insert_expense_event(name='event',type='text',value=event)
                        else
                            input.form-control#insert_expense_event(name='event',type='text',placeholder='ex. Us Open')
                    div.col-sm-3.input-group.input-group-sm
                        label(for='insert_expense_amount') Amount
                        //span.input-group-addon $
                        input.form-control#insert_expense_amount(name='amount',type='text',placeholder='0.00')
                    div.col-sm-3.input-group.input-group-sm
                        label(for='insert_expense_description') Description
                        input.form-control#insert_expense_description(name='description',type='text',placeholder='ex. 4 bottles of sunblock')
                    input#insert_expense_id(name='id',type='hidden',value=user.id)
                    input#insert_expenses_timestamp(name='timestamp',type='hidden',value=Date.now())
            button.btn.btn-default.btn-sm(type='submit') Add Expense
    div.panel.panel-primary
        div.panel-heading(data-toggle='collapse',data-target='#expenses-body'): a(href='#expenses-body')
            |Expenses
        div.panel-collapse.collapse.in#expenses-body: div.panel-body
            p Expenses explanation
            +dataTable(expensesHeader,expensesData,true)