extends bootstrapNoNav
block body-content
    div.jumbotron
        h1 Welcome to FrogMoney
        p.lead
            |This site will be used to track Ironside's expenses for the 2014 season.
            |This site uses google authentication;
            |please click the login button and enter your credentials
            |for the google account that is a member of the "Ironside 2014 Tryout Google Group"
        p: a(class='btn btn-lg btn-success',href=auth_url) Log in with google
    div(class='row marketing')
        div(class='col-lg-6')
            h4 If you have already authenticated with google
            p Your authentication token may have expired, it will do this every two weeks.
            p Or you may have cookies or javascript disabled, please enable both to use this site.
