extends bootstrapNav
block body-content
    if(warning)
        div(class='alert alert-warning') #{warning}
    div.jumbotron
        h2 Welcome to FrogMoney
        p.lead
            |This site will be used to track Ironside's expenses for the 2014 season.
            |This site uses google authentication;
            |please click the login button and enter your credentials
            |for the google account that is a member of the "Ironside 2014 Tryout Google Group"
        p: a(class='btn btn-lg btn-success',href=auth_url) Log in with google
