body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.form-group
  width:100%

.fm-page-footer
  padding-top 20px
  margin 40px 0 20px
  border-top 1px solid #eee

.fm-table-header
  color #fff
  background-color #428bca
  text-align center
  text-transform capitalize

.fm-nav li a
  padding-right:5px;

.panel-primary .panel-heading a
  font-size 125%
  text-decoration none
  color #fff

#brand
  color #5cb85c
  font-size  24px

.fm-modal-title
  color #5cb85c
  text-align center

.fm-modal-header
  background-color #e7e7e7

ul.fm-strong-list li span.strong
  font-weight bold

.fm-info-text
  font-size 16pt

.cpanel
  width 600px
  margin-left 10px
  border-width 1px
  border-color navy

.chead
  width 600px
  margin-left 10px
  size 150%

