body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.page-footer {
  padding-top: 20px;
  margin: 40px 0 20px;
  border-top: 1px solid #eee;
}
.ipanel {
  width: 100%;
}
.ipanel div div {
  display: inline;
}
.ipanel input {
  width: 250px;
}
.cpanel {
  width: 600px;
  margin-left: 10px;
  border-width: 1px;
  border-color: #000080;
}
.chead {
  width: 600px;
  margin-left: 10px;
  size: 150%;
}
.FMDataTable {
  margin: 0px;
  padding: 0px;
  width: 100%;
  box-shadow: 10px 10px 5px #888;
  border: 1px solid #000;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
}
.FMDataTable table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.FMDataTable tr:last-child td:last-child {
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.FMDataTable table tr:first-child td:first-child {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
}
.FMDataTable table tr:first-child td:last-child {
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}
.FMDataTable tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.FMDataTable tr:nth-child(odd) {
  background-color: #aad4ff;
}
.FMDataTable tr:nth-child(even) {
  background-color: #fff;
}
.FMDataTable td {
  vertical-align: middle;
  border: 1px solid #000;
  border-width: 0px 1px 1px 0px;
  text-align: left;
  padding: 7px;
  font-size: 10px;
  font-family: Arial;
  font-weight: normal;
  color: #000;
}
.FMDataTable tr:last-child td {
  border-width: 0px 1px 0px 0px;
}
.FMDataTable tr td:last-child {
  border-width: 0px 0px 1px 0px;
}
.FMDataTable tr:last-child td:last-child {
  border-width: 0px 0px 0px 0px;
}
.FMDataTable thead tr:first-child td {
  background: -o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f));
  background: -moz-linear-gradient(center top, #005fbf 5%, #003f7f 100%);
  background: -o-linear-gradient(top, #005fbf, 3 f7f);
  background-color: #005fbf;
  border: 0px solid #000;
  text-align: center;
  border-width: 0px 0px 1px 1px;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  color: #fff;
}
.FMDataTable thead tr:first-child:hover td {
  background: -o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f));
  background: -moz-linear-gradient(center top, #005fbf 5%, #003f7f 100%);
  background-color: #005fbf;
}
.FMDataTable thead tr:first-child td:first-child {
  border-width: 0px 0px 1px 0px;
}
.FMDataTable thead tr:first-child td:last-child {
  border-width: 0px 0px 1px 1px;
}
